.noSelectText {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.centerVertical {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noappearance {
  -webkit-appearance: none;
}
.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.grayscale {
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.degradacionAzul {
  background: #dbefee;
  background: -moz-linear-gradient(-45deg, #dbefee 0%, #a7d1d1 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #dbefee), color-stop(100%, #a7d1d1));
  background: -webkit-linear-gradient(-45deg, #dbefee 0%, #a7d1d1 100%);
  background: -o-linear-gradient(-45deg, #dbefee 0%, #a7d1d1 100%);
  background: -ms-linear-gradient(-45deg, #dbefee 0%, #a7d1d1 100%);
  background: linear-gradient(135deg, #dbefee 0%, #a7d1d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbefee', endColorstr='#a7d1d1', GradientType=1);
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body {
  font-family: filson-soft, sans-serif;
  font-style: normal;
  height: 100vh;
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background: #4d4a52;
  background: -moz-linear-gradient(-45deg, #4d4a52 0%, #140213 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #4d4a52), color-stop(100%, #140213));
  background: -webkit-linear-gradient(-45deg, #4d4a52 0%, #140213 100%);
  background: -o-linear-gradient(-45deg, #4d4a52 0%, #140213 100%);
  background: -ms-linear-gradient(-45deg, #4d4a52 0%, #140213 100%);
  background: linear-gradient(135deg, #4d4a52 0%, #140213 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d4a52', endColorstr='#140213', GradientType=1);
  color: #ffaf00;
}
body #app {
  width: 100%;
  text-align: center;
}
body #app h1 {
  font-weight: 100 !important;
  font-size: 2em !important;
}
body #app .boardContainer {
  margin: 50px 0;
}
body #app .boardContainer .board {
  flex-direction: column;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
body #app .boardContainer .board .row {
  justify-content: center;
  flex-direction: row;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
body #app .boardContainer .board .row li {
  list-style: none;
  border: 1px solid #695c31;
  padding: 50px;
  margin: 1px;
  border-radius: 5px;
}
body #app .boardContainer .board .row li.live {
  color: #ff4500;
  background: #d2ff52;
  background: -moz-linear-gradient(-45deg, #d2ff52 0%, #91e842 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #d2ff52), color-stop(100%, #91e842));
  background: -webkit-linear-gradient(-45deg, #d2ff52 0%, #91e842 100%);
  background: -o-linear-gradient(-45deg, #d2ff52 0%, #91e842 100%);
  background: -ms-linear-gradient(-45deg, #d2ff52 0%, #91e842 100%);
  background: linear-gradient(135deg, #d2ff52 0%, #91e842 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1);
}
body #app .boardContainer .board .row li.dead {
  background: rgba(0, 0, 0, 0.56);
  color: #634c30;
}
